---
IndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterStruct: false
  IndentBraces: false

IncludeBlocks: Merge
SortIncludes: CaseSensitive

AllowShortBlocksOnASingleLine: Empty
